[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
fontawesomefree = "==6.2.0"
whitenoise = "==6.2.0"
asgiref = "==3.5.2"
sqlparse = "==0.4.3"
tzdata = "==2022.5"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
